@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte01: verdana, geneva, tahoma, sans-serif;
    --fonte02:'passione', cursive;
    --fonte03:'Sriracha', cursive;
}




* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte01);
}

body {
    background-color: rgb(56, 54, 54);
}

p {
    font-family: var(--fonte02);
    font-size: 1.3em;
}
header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom, black, rgb(56, 54, 54));
    color: white;
}

header > h1 {
    font-variant: small-caps;
    font-size: 4vw;
    color: rgb(255, 253, 253);
    font-family: var(--fonte02)
}

header > p {
    font-size: 2.2vw;
    font-family: var(--fonte03);
    padding-top: 20px;
}

p > a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte03);
    background-color: rgb(58, 41, 41);
    padding: 3px;
    border-radius: 10px;
}

p > a:hover {
    text-decoration: underline;
}
a::after {
    content:' \00A0\1F517';

}
main {
    text-align: center;
    color: white;
}
main > h1, h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 10px 8px 9px rgba(0, 0, 0, 0.642);
}

section {
    color: white;
    text-align: center;
    line-height: 2em;
    
}

section > p {
    font-family: var(--fonte02);
    display: inline-block;
    max-width: 50vw;
    font-size: 1.3em;

}
section > img {
    text-align: center;
    max-width: 50vw;
}
main > img {
    max-width: 50vw;
}
p > img {
    display: inline;
    max-width: 10vw;
    min-width: 10vh;
}
img.imagem {
    min-width: 40vw;
}
footer {
    display: inline-block;
    text-align: center;

}
div.video {
    position: relative;
    background-color: rgba(0, 0, 0, 0.43);
    margin: 27px 54px 39px 54px;
    padding: 40px;
    padding-bottom: 43%;
}
div.video > iframe {
    position: absolute;
    top: 15%;
    left: 12%;
    width: 76%;
    height: 79%;
}